<div class="container">
    <div class="row py-4 py-md-5 align-items-start">

        <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
            <div class="campusbites-footer-content text-center text-md-start">
                <a asp-controller="Home" asp-action="Index" class="d-inline-block mb-3">
                    <img src="~/img/Campus Bites Logo.png" width="140" height="122" alt="Campus Bites" class="img-fluid" />
                </a>
                <p class="text-secondary pe-0 pe-lg-4 mb-0">
                    Campus Bites is a student-driven project dedicated to helping students enjoy affordable, easy-to-make meals.
                    We're building a community that shares ideas, recipes, and inspiration for better eating on a student budget.
                </p>
            </div>
        </div>

        <div class="col-lg-6 col-md-6">
            <div class="row text-center text-md-start">

                <div class="col-sm-4 mb-4 mb-sm-0">
                    <h6 class="fw-semibold text-dark mb-3">Campus Bites</h6>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a class="text-secondary text-decoration-none" asp-controller="Home" asp-action="About">About us</a>
                        </li>
                        <li class="mb-2">
                            <a class="text-secondary text-decoration-none" asp-controller="Contact" asp-action="Index">Contact us</a>
                        </li>
                        <li class="mb-2">
                            <a class="text-secondary text-decoration-none" asp-controller="Home" asp-action="">Blog</a>
                        </li>
                        <li class="mb-2">
                            <a class="text-secondary text-decoration-none" asp-controller="Home" asp-action="">FAQs</a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-4 mb-4 mb-sm-0">
                    <h6 class="fw-semibold text-dark mb-3">Legal</h6>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a class="text-secondary text-decoration-none" asp-controller="Home" asp-action="">Terms</a>
                        </li>
                        <li class="mb-2">
                            <a class="text-secondary text-decoration-none" asp-controller="Home" asp-action="">Conditions</a>
                        </li>
                        <li class="mb-2">
                            <a class="text-secondary text-decoration-none" asp-controller="Home" asp-action="">Cookies</a>
                        </li>
                        <li class="mb-2">
                            <a class="text-secondary text-decoration-none" asp-controller="Home" asp-action="">Copyright</a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-4">
                    <h6 class="fw-semibold text-dark mb-3">Connect</h6>
                    <div class="social-icons">
                        <a href="#" class="text-secondary d-block mb-2 text-decoration-none">
                            <i class="bi bi-facebook me-2"></i>Facebook
                        </a>
                        <a href="#" class="text-secondary d-block mb-2 text-decoration-none">
                            <i class="bi bi-instagram me-2"></i>Instagram
                        </a>
                        <a href="#" class="text-secondary d-block mb-2 text-decoration-none">
                            <i class="bi bi-twitter-x me-2"></i>Twitter
                        </a>
                        <a href="#" class="text-secondary d-block mb-2 text-decoration-none">
                            <i class="bi bi-youtube me-2"></i>YouTube
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="my-2" />

    <div class="row py-3 align-items-center">

        <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
            <p class="text-secondary small mb-0">
                &copy; 2025 CampusBites - All rights reserved.
            </p>
        </div>

        <div class="col-md-6 text-center text-md-end">
            <p class="text-secondary small mb-0">
                <a asp-controller="Home" asp-action="Privacy" class="text-secondary text-decoration-none">
                    Privacy Policy
                </a>
                |
                <a asp-controller="Home" asp-action="Terms" class="text-secondary text-decoration-none">
                    Terms of Service
                </a>
            </p>
        </div>

    </div>
</div>